::-webkit-scrollbar {
    display: none;
}

a,
a:hover {
    text-decoration: none !important;
}

.card-header {
    background-color: white !important;
}

/* global styles end*/


/* left column sidebar */
.left-column,
.right-column,
.todo-column {
    position: relative;
    max-height: 100vh;
    height: 100vh;
    overflow: scroll;
}

.left-column {
    background-color: white !important;
}

.right-column {
    overflow: auto;
}

.menu-item {
    display: block;
    color: black;
    text-transform: capitalize;
    padding: 10px;
    margin: 5px 0px
}

.menu-item:hover {
    background-color: rgb(0, 174, 218);
    border-radius: 5px;
    color: white;
}

.menu-item-active {
    background-color: rgb(0, 174, 218);
    border-radius: 5px;
    color: white;
}

.menu-item:hover i {
    color: white
}

.menu-item i {
    color: gray;
    width: 25px;
    font-size: 18px !important;
    margin-right: 10px;
}

/* sidebar ends */

/* profile button */
.admin-setting-container {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.admin-setting {
    position: relative;
    opacity: 0.3;
    background-color: gray;
    padding: 10px;
    display: flex;
}

.admin-setting.dropdown-toggle::before {
    content: none !important;
}

.admin-setting i {
    font-size: 30px;
    color: white
}

.admin-setting .dropdown-menu a {
    color: black;
}

.admin-setting .dropdown-menu a i {
    margin: 0px 10px
}



/* profie button end */
/* sarch bar */
.search-stud {
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1000;
}

.search-bar {
    position: relative;
    padding: 10px;
    display: flex;
    background-color: rgb(206, 203, 203);
}

.search-bar i {
    font-size: 30px;
    color: #ffffff;
}

.search-bar input {
    width: 300px;
    height: 40px;
    display: none;
    outline: none !important;
    color: white;
    background: linear-gradient(to right, #2a0845, #6441A5);
}

.search-panel-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 100;
    display: none
}

.search-results {
    position: fixed;
    width: 600px;
    height: 400px;
    background-color: rgb(247, 244, 244);
    z-index: 1000;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: scroll;
    display: none;
    box-shadow: 0px 0px 15px 1px rgb(122, 122, 122)
}

.search-results .result {
    border-radius: 6px;
    background-color: white;
}

.search-results .result:nth-child(1) {
    border-radius: 4px;
    background-color: #06b6d4;
}

.search-results .result:nth-child(1) a {
    color: white !important
}

.search-results .result:hover a {
    color: white !important
}

.search-results .result:hover {
    background: #6441A5;
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    background: linear-gradient(to right, #2a0845, #6441A5);
}

/* sarch bar end */


/* todo column */



.displaynone {
    display: none !important;
}

.tasks a {
    font-size: 18px;
    padding: 5px 10px
}
