
  ::-webkit-scrollbar {
    display: none;
}

a,
a:hover {
    text-decoration: none !important;
}

.card-header {
    background-color: white !important;
}

/* global styles end*/


/* left column sidebar */
.left-column,
.right-column,
.todo-column {
    position: relative;
    max-height: 100vh;
    height: 100vh;
    overflow: scroll;
}

.left-column {
    background-color: white !important;
}

.right-column {
    overflow: auto;
}

.menu-item {
    display: block;
    color: black;
    text-transform: capitalize;
    padding: 10px;
    margin: 5px 0px
}

.menu-item:hover {
    background-color: rgb(0, 174, 218);
    border-radius: 5px;
    color: white;
}

.menu-item-active {
    background-color: rgb(0, 174, 218);
    border-radius: 5px;
    color: white;
}

.menu-item:hover i {
    color: white
}

.menu-item i {
    color: gray;
    width: 25px;
    font-size: 18px !important;
    margin-right: 10px;
}

/* sidebar ends */

/* profile button */
.admin-setting-container {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.admin-setting {
    position: relative;
    opacity: 0.3;
    background-color: gray;
    padding: 10px;
    display: flex;
}

.admin-setting.dropdown-toggle::before {
    content: none !important;
}



.admin-setting i {
    font-size: 30px;
    color: white
}

.admin-setting .dropdown-menu a {
    color: black;
}

.admin-setting .dropdown-menu a i {
    margin: 0px 10px
}

/* profie button end */

/* todo column */



.displaynone {
    display: none !important;
}

.tasks a {
    font-size: 18px;
    padding: 5px 10px
}
