* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "jetbrains mono";
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed !important;
    z-index: 1000;
    top: 0px;
    display: flex;
    width: 100vw;
    height: max-content;
    padding: 0px;
    font-family: "jetbrains mono";
    text-transform: uppercase;
    align-items: center;
    background-color: #1a171e;

}

.navbar #close-nav {
    display: none;
}

.navbar #open-nav {
    display: none;
}

.navbar .logo {
    margin-left: 40px;
}

.navbar .logo h2 {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0px;
    /* padding: 10px; */
    color: #7a1ecf;
    font-weight: 800;
}

.navbar .navitems {
    margin-right: 40px;
}

.navbar .navitems a {
    padding: 10px;
    color: white;
}


/***  global vars */
.section {
    position: relative;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    padding-top: 50px;
    overflow: hidden;
}

.hr {
    width: 300px;
    margin: 0px auto;
    border-bottom: 4px solid #8a1df0;
    margin-bottom: 30px;
}

.section-heading {
    text-align: center;
    font-weight: bold;
    font-family: "jetbrains mono";
    color: white;
}


/** section 1- home  */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a171e;
}

.home .home-section {
    padding-left: 50px;
    text-transform: uppercase;
    z-index: 2;
}

.home .home-section h1 {
    font-weight: 800;
    color: white;
    margin: 20px 0px;
    font-size: 50px;
}

.home .home-section h3 {
    color: #8a1df0;
    font-weight: bold;
}

.home .home-section h4 {
    color: rgb(211, 211, 211);
    text-transform: capitalize;
}

.home .mad {
    position: absolute;
    color: rgba(158, 158, 158, 0.137);
    font-weight: bold;
    font-size: 200px;
    left: 50px;
    z-index: 1;
}



/** ------------section 2- education ----------- */
.education {
    background-color: #211f24;
}

.edu-course div:first-child {
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    /* height: 300px; */
    border-radius: 5px;
}


.edu-course img {
    width: 300px !important;
    /* height: 300px; */
    border-radius: 10px;
    object-fit: cover;
}




/** ------------ section 3- , services -------- */
.services {
    background-color: #1a171e;
}

.card {
    background-color: transparent !important;
    color: white !important;
    /* border: 1px solid rgba(27, 92, 235, 0.692) !important; */
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.692) !important;
}

.card .card-header {
    font-size: 25px !important;
    font-weight: bold !important;
    text-align: center;
    color: rgb(148, 240, 0) !important;
}



/* ***----------section 4- gallery */
.gallery {
    background-color: #211f24;
}

.swiper-container {
    width: 1000px;
}

.swiper-slide {
    height: 400px;
    /* background-color: #882525; */
    line-height: 400px;
    text-align: center;
}

.swiper-slide img {
    width: calc(1000px / 3);
    /* height: 400px; */
    object-fit: cover;
}



/****--------------------section 5 - about ---  */

.about {
    background-color: #1a171e;
}

.about div.container div.row div:first-of-type {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
}

.about div:first-child img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
}




/***** ----------section 6 contact us  */
.contact {
    background-color: #211f24;
}

.needs-validation {
    max-width: 500px;
    margin: 0px auto;
}

.needs-validation input,
.needs-validation textarea {
    border: 2px solid white !important;
    background-color: transparent;
}

.needs-validation input:focus,
.needs-validation textarea:focus {
    -webkit-appearance: none;
    background-color: transparent !important;
    border: 2px solid #8a1df0 !important;
    box-shadow: none !important;
}

.needs-validation input::placeholder,
.needs-validation textarea::placeholder {
    color: white;
}

.needs-validation input,
.needs-validation textarea {
    color: white !important;
}


/***** ------footer -------- */
footer {
    max-width: 100vw;
    width: 100%;
    background-color: #1a171e;
}

.social-icons {
    width: max-content;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.social-icons a {
    color: white;
    font-size: 25px;
    transition: all 0.4s;
    padding: 5px;
}

.social-icons a:hover {
    text-decoration: none !important;
    color: #7a1ecf;
}

/* .social-icons h6 a {
    color: #7a1ecf !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
} */



/******----------media queries------ */


@media only screen and (max-width:1000px) {

    /***-----navbar-----****/
    .navitems {
        /* display: none; */
        position: absolute;
        height: 100vh;
        right: -250px;
        top: 0px;
        background-color: black;
        padding: 20px 40px;
        transition: 0.5s;
    }

    .navitems a {
        display: block;
    }

    .navbar .logo {
        margin-left: 10px;
    }

    .navbar .res-nav-btn a {
        color: white;
        font-size: 25px;
    }

    .navbar #open-nav {
        display: block;
        color: white;
        font-size: 25px;
        margin-right: 20px;
        text-decoration: none;
    }

    .navbar #close-nav {
        display: block;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
    }

    /**------global vars --- */
    .section-heading {
        font-size: 35px;
    }



    /****----section 1- home----****/
    .home .home-section {
        padding: 30px;
    }

    .home .home-section h3 {
        font-size: 22px;
    }

    .home .home-section h1 {
        font-size: 35px;
        letter-spacing: 1px;
        line-height: 50px;
    }

    .home .home-section h4 {
        font-size: 20px;
        text-transform: lowercase;
    }

    /***** section 4 gallery  */
    .swiper-slide {
        height: 300px;
        width: 300px;
        /* background-color: #882525; */
        line-height: 300px;
        text-align: center;
    }

    .swiper-container img {
        width: 100%;
        height: 400px;
    }

    /*****--contact*** */
    .needs-validation {
        width: 400px;
    }

    iframe{
        width: 100%;
        height: 400px;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width:600px) {
    .needs-validation {
        max-width: 300px;
        margin: 0px auto;
    }
}
